@import '~bootstrap/scss/bootstrap';

body {
  font-family: vt323;
  background: #474747;
  text-align: center;
}

h1 {
  color: #222222;
  font-size: 72px;
  text-shadow: 0px 2px 3px #555555;
}

#message {
  font-size: 36px;

}

#authenticated {
  display: none;
}

.container {
  height: 100vh;
  width: 100vh;
}

.board {
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  margin: auto;
}

.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.5s;
  &:hover {
    opacity: 1
  }
}

.cell {
  border-left: 10px dotted #000000;
  border-bottom: 10px dotted #000000;
  min-height: calc(100% / 3);
  min-width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #e23636;
  font-size: 15vh;
  text-shadow: 2px 2px rgba(247, 143, 63, .25);
  &:hover {
    background-color: #504a4a;
  }
  &:active {
    background-color: blue;
  }
user-select: none;
}

.option {
  justify-content: flex-start;
}
