@import '~bootstrap/scss/bootstrap';
.container {
  height: 100vh;
}

.board {
  max-height: calc(100%vh - 75px);
  max-width: calc(100vh - 75px);
  margin: auto;
  background: url('https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/crazy-face.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cell {
  border: 1px solid #000000;
  min-height: calc(100% / 3);
  min-width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
}

// #authenticated {
//   display: none;
// }
